.madre {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 240, 236);
}
.contenedor {
  background-color: rgb(235, 239, 241);
  width: 600px;
  height: 650px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.prueba {
  width: 50px;
  height: 50px;
  background-color: red;
}
.datos {
  height: 50px;
  font-size: 20px;
}
.diseños {
  text-align: center;
}
.contraseña {
  display: flex;
  justify-content: end;
}
.continuar:hover {
  background-color: rgb(214, 216, 214);
}
.caja1 {
  display: flex;
  justify-content: space-between;
}
.continuar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}
@media (max-width: 500px) {
  .datos {
    font-size: 15px;
  }
}
